<div class="container">
    <div class="row">
    </div>
    <div class="table-responsive">
        <table class="table table-bordered" style="width:100%">
            <thead>
                <tr>
                  <th scope="col"> Sequence</th>
                  <th scope="col"> Account Parameters</th>
                  <th scope="col"> Values</th>
                </tr>
              </thead>
            <tr>
                <td>1</td>
                <td>customerId:</td>
                <td>{{customer.customerId}}</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Name: </td>
                <td>{{customer.name}}</td>
            </tr>
            <tr>
                <td>3</td>
                <td>User Name: </td>
                <td>{{customer.username}}</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Address</td>
                <td>{{ customer.address }}</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Mail Id</td>
                <td>{{ customer.email }}</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Gender</td>
                <td>{{ customer.gender }}</td>
            </tr>
            <tr>
                <td>7</td>
                <td>Merital Status</td>
                <td>{{ customer.maritalStatus }}</td>
            </tr>
            <tr>
                <td>8</td>
                <td>Contact No:</td>
                <td>{{ customer.contactNumber }}</td>
            </tr>
            <tr>
                <td>9</td>
                <td>DOB</td>
                <td>{{ customer.dateOfBirth }}</td>
            </tr>
            <tr>
                <td>10</td>
                <td>AccountNumber</td>
                <td>{{customer.accountnumber}}</td>
            </tr>
            <tr>
                <td>11</td>
                <td>Account Type</td>
                <td>{{customer.accountType}}</td>
            </tr>
            <tr>
                <td>12</td>
                <td>Gurdian Name</td>
                <td>{{customer.gurdianName}}</td>
            </tr>
            <tr>
                <td>13</td>
                <td>Gurdian Type</td>
                <td>{{customer.gurdianType}}</td>
            </tr>
            <tr>
                <td>14</td>
                <td>Country</td>
                <td>{{customer.country}}</td>
            </tr>
            <tr>
                <td>15</td>
                <td>State</td>
                <td>{{customer.state}}</td>
            </tr>
            <tr>
                <td>16</td>
                <td>Citizenship</td>
                <td>{{customer.citizenShip}}</td>
            </tr>
            <tr>
                <td>17</td>
                <td>Citizenstatus</td>
                <td>{{customer.citizenStatus}}</td>
            </tr>
            <tr>
                <td>18</td>
                <td>Date Of Registration</td>
                <td>{{customer.dateOfRegistration}}</td>
            </tr>
            <tr>
                <td>19</td>
                <td>Bank Name</td>
                <td>{{customer.bankName}}</td>
            </tr>
            <tr>
                <td>20</td>
                <td>BranchName</td>
                <td>{{customer.branchName}}</td>
            </tr>
            <tr>
                <td>21</td>
                <td>IdProofType</td>
                <td>{{customer.idproofType}}</td>
            </tr>
            <tr>
                <td>22</td>
                <td>IdDocNumber</td>
                <td>{{customer.iddocNumber}}</td>
            </tr>
            <tr>
                <td>23</td>
                <td>Reference Account Holder Name</td>
                <td>{{customer.refaccholderName}}</td>
            </tr>
            <tr>
                <td>24</td>
                <td>Reference Account Holder Account No</td>
                <td>{{customer.refaccholderAccNo}}</td>
            </tr>
            <tr>
                <td>25</td>
                <td>Reference Account Holder Address</td>
                <td>{{customer.refaccholderAddress}}</td>
            </tr>
        </table>
    </div>  
</div>
