.loan_diff{
    height: 550px;
    overflow-y: auto;
    overflow-x: auto;
    border-left: double;
    border-right: double;
    border-width: 5px;
    border-color: midnightblue;
}
.table_design{
    width: 300px;
    display: inline-block;
}
.heading{
    font-size: 150%;
    font-weight: 1000;
    padding: 0.2rem;
}